In [3]:
import numpy as np

# Q#1: Create x array with elements equal to 1.

In [4]:
x = np.ones((3, 3))
print(x)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

# Q#2: Create y array with elements equal to 0.

In [5]:
y = np.zeros((3, 3))
print(y)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

# Q#3: Add x and y arrays.

In [6]:
xy = x + y  
print(xy)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

# Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [8]:
print(x.dtype)
print(x.ndim)
print(x.shape)
print(x.size)

float64
2
(3, 3)
9

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [16]:
w = np.array(
    [
        [11, 12], 
        [13, 14],
        [13, 14],
    ])
print(w.shape)
print(w)

(3, 2)
[[11 12]
 [13 14]
 [13 14]]

# Q#6: Create z array contains the numbers from 1 to 3.

In [11]:
z = np.array([1, 2, 3])
print(z)

[1 2 3]

# Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [31]:
z = np.array([1, 2, 3])
w = np.array([
    [11, 12], 
    [13, 14],
    [13, 14],
])

z_reshaped = z.reshape(-1, 1) 
newArray = np.hstack((z_reshaped, w))   
print(newArray)

[[ 1 11 12]
 [ 2 13 14]
 [ 3 13 14]]

# Q#8: Print all elements of "newArray" using the loop.

In [34]:
for row in newArray:
    for item in row:
        print(item)

1
11
12
2
13
14
3
13
14

# Q#9: Reverse the columns and rows of "newArray".

In [35]:
newArray_reversed = newArray[::-1, ::-1] 
print(newArray_reversed)

[[14 13  3]
 [14 13  2]
 [12 11  1]]

# Q#10: Decrement all elements of "newArray" with 1.

In [36]:
newArray = newArray - 1
print(newArray)

[[ 0 10 11]
 [ 1 12 13]
 [ 2 12 13]]

# Q#11: Find smallest and biggest values in "newArray".

In [39]:
smallest_value = np.amin(newArray)
largest_value = np.amax(newArray)

print("Smallest value:", smallest_value)
print("Largest value:", largest_value)

Smallest value: 0
Largest value: 13

# Q#12: Print the first row of "newArray" using indexing.

In [40]:
first_row = newArray[0, :]
print("First row:", first_row)

First row: [ 0 10 11]

# Q#13: Print the number equals 12 of "newArray" using indexing.

In [42]:
value_12 = newArray[0, 1]
print("Value 12:", value_12)

Value 12: 10

# Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [44]:
value_0 = newArray[2, 1]
value_13 = newArray[1:, 0]

print("Value 0:", value_0)
print("Value 13:", value_13)

Value 0: 12
Value 13: [1 2]

# Q#15: Change the shape of "newArray" to (9,1).

In [45]:
newArray_reshaped = newArray.reshape(9, 1)
print(newArray_reshaped)

[[ 0]
 [10]
 [11]
 [ 1]
 [12]
 [13]
 [ 2]
 [12]
 [13]]