In [67]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [68]:
# write your code here ^_^
x= np.ones((3, 3))
x

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#2: Create y array with elements equal to 0.

In [69]:
# write your code here ^_^
y = np.zeros((3,3))
y

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

## Q#3: Add x and y arrays.

In [70]:
# write your code here ^_^
np.add(x,y)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [71]:
# write your code here ^_^
print(f"dimension:{x.ndim} ")
print(f'shape : {x.shape}')
print(f'size : {x.size}')
print(f'Type : {x.dtype}')

dimension:2
shape : (3, 3)
size : 9
Type : float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [73]:
# write your code here ^_^

#normal way
w = np.array(
    [
        [11,12],[13,14],[15,16]
        
    ]
)

#advance 

another_way = np.arange(11,17).reshape(3,2)

another_way

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [74]:
# write your code here ^_^


z=np.arange(1,4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [75]:
# write your code here ^_^
newArray=np.column_stack((w,z))

newArray

array([[11, 12,  1],
       [13, 14,  2],
       [15, 16,  3]])

## Q#8: Print all elements of "newArray" using the loop.

In [76]:
# write your code here ^_^
#loop in(two-dimensional array)
for row in newArray:
    for item in row:
        print(item)

11
12
1
13
14
2
15
16
3

## Q#9: Reverse the columns and rows of "newArray".

In [77]:
# write your code here ^_^
Reverse_array =np.transpose(newArray)
Reverse_array

array([[11, 13, 15],
       [12, 14, 16],
       [ 1,  2,  3]])

## Q#10: Decrement all elements of "newArray" with 1.

In [78]:
# write your code here ^_^
Reverse_array -=1
Reverse_array

array([[10, 12, 14],
       [11, 13, 15],
       [ 0,  1,  2]])

## Q#11: Find smallest and biggest values in "newArray".

In [79]:
# write your code here ^_^

print(f'smallets number is :{newArray.min()}')
print(f'biggest number is :{newArray.max()}')

smallets number is :0
biggest number is :15

## Q#12: Print the first row of "newArray" using indexing.

In [92]:
# write your code here ^_^
Reverse_array[0]

array([10, 12, 14])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [93]:
# write your code here ^_^
Reverse_array[0,1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [116]:
# write your code here ^_^

print(Reverse_array[1, 1])
print(Reverse_array[2, 0])

13
0

## Q#15: Change the shape of "newArray" to (9,1).

In [118]:
# write your code here ^_^

np.reshape(Reverse_array,(9,1))

array([[10],
       [12],
       [14],
       [11],
       [13],
       [15],
       [ 0],
       [ 1],
       [ 2]])

## Q#16: Change the shape of "newArray" to (3,2).

In [125]:
# write your code here ^_^
Reverse_array.reshape(3,2)

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done ðŸŽ‰