In [101]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [102]:
# write your code here ^_^
x = np.ones((3,3))
x

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#2: Create y array with elements equal to 0.

In [103]:
# write your code here ^_^
y = np.zeros((3,3))
y

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

## Q#3: Add x and y arrays.

In [104]:
# write your code here ^_^
add = np.add(x,y)
add

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [105]:
# write your code here ^_^
print("x Dimension: ", x.ndim, "\nx shape: ", x.shape, "\nx size: ", x.size, "\nx type: ", type(x), "\nx dtype: ", x.dtype)

x Dimension:  2
x shape:  (3, 3)
x size:  9
x type:  <class 'numpy.ndarray'>
x dtype:  float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [106]:
# write your code here ^_^
w = np.array([
    [11,12],
    [13,14],
    [15,16]
])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [107]:
# write your code here ^_^
z = np.arange(1,4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [108]:
# write your code here ^_^
newArray = np.column_stack((z, w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [109]:
# write your code here ^_^
for i in newArray.flat:
    print(i)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [110]:
# write your code here ^_^
newArray = newArray.T
newArray

array([[ 1,  2,  3],
       [11, 13, 15],
       [12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [111]:
# write your code here ^_^
newArray -= 1
newArray

array([[ 0,  1,  2],
       [10, 12, 14],
       [11, 13, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [112]:
# write your code here ^_^
print("min: ", newArray.min())
print("max: ", newArray.max())

min:  0
max:  15

## Q#12: Print the first row of "newArray" using indexing.

In [113]:
# write your code here ^_^
print(newArray[0:1])

[[0 1 2]]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [114]:
# write your code here ^_^
print(newArray[1,1])
print(newArray[newArray==12])

12
[12]

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [115]:
# write your code here ^_^
print(newArray[0,0], newArray[2,1])
print(newArray[newArray==0], newArray[newArray==13])

0 13
[0] [13]

## Q#15: Change the shape of "newArray" to (9,1).

In [116]:
# write your code here ^_^
newArray = newArray.reshape(9,1)
newArray

array([[ 0],
       [ 1],
       [ 2],
       [10],
       [12],
       [14],
       [11],
       [13],
       [15]])

## Q#16: Change the shape of "newArray" to (3,2).

In [117]:
# write your code here ^_^
newArray = newArray.reshape(3,2)
newArray

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done 🎉